body{
    font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #CDBE78 ;
  padding-left: 15%;
  padding-right: 15%;
}


.header_text{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.container-fluid{
  padding-top: 3%;
}

.image_div{
  text-align: center;
}

.phone_image{
  width: 50%;
  transform: rotate(20deg);
  padding-bottom: 30px;
}

.header_box{
  margin-top: 30px;
}

.navbar{
  margin-left: -16px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.donwlod-btn{
  margin: 5% 3% 5% 0;
}

/*Features*/

#features{
  background-color: #F2F2F2;
  padding: 7% 15%;

}

.features_item{

  text-align: center;
  padding: 5%;
}

.features-exp{
  font-family:"Ubuntu";
  padding-left: 15%;
  padding-right: 15%;
  color: #8f8f8f;
}

.feature_title{
  font-family: 'Montserrat';
  padding-top: 10px;
  font-weight: 800;
    color: #CDBE78;
}

.features-icon{
  color: #CDBE78;
}

.features-icon:hover{
  color: #383838;
}

/*Testimonials*/

#testimonials{

  text-align: center;
  background-color: #CDBE78;
  color: #383838;
}

.test_text{
  font-family: "Ubuntu";
  line-height: 1.5;
  font-weight: bold;
  font-size: 3rem;
}

.testimonial_img{
  width: 15%;
  border-radius: 100%;
  margin-right:20px;
}
.slide_show{
  position: relative;
}
.slide_show_indic{
  margin-left: 50px;
}

.carousel-item{
    padding: 5% 15%;
}
